*{
margin: 0;
padding: 0;
box-sizing: border-box';

}

.container{
width: 100%;
height: 100vh;
background: linear-gradient(135deg, #4203a9, #90bafc);
background-color: #4203a9;
color: #fff;
padding: 10px;
}
.Calculator{
width: 100%;
max-width: 600px;
margin-left: 10%;
margin-top: 10%;
}

.Calculator h1{
font-size: 60px;    
}

.Calculator h1 span{

color: yellow;

}

.input-box{
margin: 40px 0;
padding: 35px;
border-radius: 10px;
background-color: rgba(255, 255, 255, 0.3);
display: flex;
align-items: center;
}

.input-box input{
flex: 1;
margin-right: 20px;
padding: 10px;
outline: 0;
border: 0;
border-radius: 10px;
font-size: 16px;
padding-left:60px ;
position: relative;
}

.input-box button{
padding: 10px;
border-radius: 10px;
border: 0;
outline: 0;
background-color: yellow;
cursor: pointer;
}

.input-box input::-webkit-calendar-picker-indicator{
top: 0;
left: 0;
right: 10px;
bottom: 0;
width: auto;
height: auto;
position: absolute;
background-position: calc(100% -10px)center;
background-size: 30px;
cursor: pointer;
}
